<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.konstant.tool.lite">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- 以下为高德定位所要求的权限 -->
    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 用于获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 用于访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 用于写入缓存数据到扩展存储卡 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.BLUETOOTH" /> <!-- 硬件加速对X5视频播放非常重要，建议开启 -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name=".base.KonApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <service
            android:name=".module.concentration.ConcentrationService"
            android:enabled="true"
            android:exported="true"></service>

        <activity
            android:launchMode="singleTask"
            android:name=".module.concentration.ConcentrationActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".module.wallpaper.FloatWallpaperService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".module.wallpaper.TransparentWallpaperService"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/livewallpaper" />
        </service>

        <activity
            android:launchMode="singleTask"
            android:name=".module.wallpaper.WallpaperActivity"
            android:screenOrientation="portrait" />
        <activity
            android:launchMode="singleTask"
            android:name=".module.date.DateCalculationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:launchMode="singleTask"
            android:name=".module.live.TVLiveActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:launchMode="singleTask"
            android:name=".module.parse.NetVideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:launchMode="singleTask"
            android:name=".module.parse.ParseVideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:launchMode="singleTask"
            android:name=".module.rolltxt.ScrollTxtActivity"
            android:screenOrientation="landscape" />
        <activity
            android:launchMode="singleTask"
            android:name=".module.rolltxt.RollTextActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|uiMode"
            android:screenOrientation="portrait" />
        <activity
            android:launchMode="singleTask"
            android:name=".module.speed.NetSpeedActivity"
            android:configChanges="uiMode" />
        <activity
            android:name=".base.H5Activity"
            android:configChanges="orientation|screenSize|keyboardHidden|uiMode"
            android:screenOrientation="portrait" />
        <activity
            android:launchMode="singleTask"
            android:name=".module.decibel.DecibelActivity"
            android:configChanges="uiMode" />
        <activity
            android:launchMode="singleTask"
            android:name=".util.ImageSelector"
            android:configChanges="uiMode"
            android:theme="@style/TransparentTheme" />
        <activity
            android:launchMode="singleTask"
            android:name=".util.PermissionRequester"
            android:configChanges="uiMode"
            android:theme="@style/TransparentTheme" />
        <activity
            android:launchMode="singleTask"
            android:name=".module.wxfake.WechatFakeActivity"
            android:theme="@style/WechatFakeActivity" />
        <activity
            android:launchMode="singleTask"
            android:name=".module.extract.PackageActivity"
            android:configChanges="uiMode" /> <!-- 高德定位相关 START -->
        <activity
            android:name=".base.SplashActivity"
            android:configChanges="fontScale|uiMode"
            android:screenOrientation="portrait"
            android:theme="@style/SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />

        </activity>
        <activity
            android:name=".main.MainActivity"
            android:configChanges="fontScale|uiMode"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" /> <!-- 高德定位相关 END -->
        <activity
            android:name=".module.translate.TranslateActivity"
            android:configChanges="fontScale|uiMode"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:launchMode="singleTask"
            android:name=".module.setting.activity.SettingActivity"
            android:configChanges="fontScale|uiMode"
            android:parentActivityName=".main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.setting.activity.ThemeActivity"
            android:configChanges="fontScale|uiMode"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.compass.CompassActivity"
            android:configChanges="fontScale|uiMode"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.qrcode.QRCodeActivity"
            android:configChanges="fontScale|uiMode"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.qrcode.QRScanActivity"
            android:configChanges="fontScale|uiMode"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.google.zxing.client.android.SCAN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".module.express.activity.ExpressListActivity"
            android:configChanges="fontScale|uiMode"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.express.activity.ExpressDetailActivity"
            android:configChanges="fontScale|uiMode"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.deviceinfo.DeviceInfoActivity"
            android:configChanges="fontScale|uiMode"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.setting.activity.AboutActivity"
            android:configChanges="fontScale|uiMode"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.weather.activity.WeatherActivity"
            android:configChanges="fontScale|uiMode"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.weather.activity.CityManagerActivity"
            android:configChanges="fontScale|uiMode"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.ruler.RulerActivity"
            android:configChanges="fontScale|uiMode"
            android:launchMode="singleTask"
            android:screenOrientation="sensorLandscape" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="9c866158ed7b1cd4e907518c13588c0b" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service android:name="com.amap.api.location.APSService" />
    </application>

</manifest>