<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.konstant.tool.lite">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 以下为高德定位所要求的权限 -->
    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 用于写入缓存数据到扩展存储卡 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:name=".base.KonstantApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 以下为高德定位相关 -->
        <service android:name="com.amap.api.location.APSService" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="9c866158ed7b1cd4e907518c13588c0b" />

        <activity
            android:name=".base.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashActivity"
            android:configChanges="fontScale">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".base.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="fontScale"/>
        <activity
            android:name="com.konstant.tool.lite.module.translate.TranslateActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="fontScale"/>
        <activity
            android:name=".module.beauty.activity.BeautyActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="fontScale"/>
        <activity
            android:name=".module.beauty.activity.LookPictureActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="fontScale"/>
        <activity
            android:name=".module.setting.activity.SettingActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="fontScale"/>
        <activity
            android:name=".module.setting.activity.ThemeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="fontScale"/>
        <activity
            android:name=".module.compass.CompassActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="fontScale"/>
        <activity
            android:name=".module.qrcode.QRCodeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="fontScale"/>
        <activity
            android:name=".module.qrcode.QRScanActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="fontScale"/>
        <activity
            android:name=".module.express.activity.ExpressListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="fontScale"/>
        <activity
            android:name=".module.express.activity.ExpressDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="fontScale"/>
        <activity
            android:name=".module.deviceinfo.DeviceInfoActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="fontScale"/>
        <activity
            android:name=".module.setting.activity.AboutActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="fontScale"/>
        <activity
            android:name=".module.weather.activity.WeatherActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="fontScale"/>
        <activity
            android:name=".module.weather.activity.CityManagerActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="fontScale"/>
        <activity
            android:name=".module.ruler.RulerActivity"
            android:launchMode="singleTask"
            android:screenOrientation="sensorLandscape"
            android:configChanges="fontScale"/>
        <activity
            android:name=".module.scanfile.ScanFileActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="fontScale"/>

        <activity android:name=".module.busline.activity.BusRouteActivity"
            android:windowSoftInputMode="stateHidden|stateUnchanged"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="fontScale"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>