<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.konstant.develop">

    <uses-sdk tools:overrideLibrary="com.hz.hzlib" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <queries>
        <package android:name="com.yangcong345.teacher" />
        <package android:name="com.yangcong345.onionschool" />
        <package android:name="com.yangcong345.android.middle2" />
        <package android:name="com.yangcong345.android.phone" />
    </queries>

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon_debug"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_debug"
        android:supportsRtl="true"
        android:testOnly="false"
        android:theme="@style/Theme.AppCompat.DayNight">
        <activity
            android:name=".cache.GlideCacheActivity"
            android:exported="false" />
        <activity
            android:name=".quickstep.QuickStepActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="landscape" />
        <activity
            android:name=".StatusBarActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".jetpack.animation.JetpackAnimationActivity"
            android:exported="false" />
        <activity
            android:name=".jetpack.paging3.Paging3Activity"
            android:exported="false" />
        <activity
            android:name=".tree.TreeViewActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize|screenLayout"
            android:exported="false" />
        <activity
            android:name=".dsl.DSLRenderResultActivity"
            android:exported="false" />
        <activity android:name=".yangcong.YangCongDebugActivity" />
        <activity android:name=".bitmap.BitmapActivity" />
        <activity android:name=".x5.SystemWebActivity" />
        <activity android:name=".x5.TencentX5Activity" />
        <activity android:name=".dsl.DSLActivity" />
        <activity
            android:name=".QRScanActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ThirdActivity" />
        <activity
            android:name=".MainActivity"
            android:resizeableActivity="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <meta-data
                android:name="android.notch_support"
                android:value="true" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".utils.PermissionRequester"
            android:configChanges="uiMode"
            android:launchMode="singleTask"
            android:theme="@style/TransparentTheme" />
    </application>

</manifest>